/*버튼 가운데 정렬*/
/*미디어 쿼리 추가*/
* {
    font-family: 'Noto Sans KR';
}

div {
    display: grid;
}

/* 텍스트 세로 중앙 정렬*/
/*버튼 위에서 포인터 모양 변화*/
#buttons {
    width: 300px;
    height: 300px;
    font-size: 40px;
    text-align: center;
}

.number {
    background-color: rgb(150, 150, 150);
    color: white;
    border-radius: 10px;
    margin: 5px;
}

.sign {
    background-color: rgb(65, 65, 255);
    color: white;
    border-radius: 10px;
    margin: 5px;
}

.column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#columnOne {
    grid-template-columns: 2fr 1fr 1fr;
}